<div class="container">
  <!--
    We maken een rij aan om onze elementen in te steken
    een rij bestaat altijd uit 12 kolommen

        foto1    foto2     Uitleg over coderdojo(b)xl
    |   <***>    <***>             <******>
  -->
  <div class="row">

    <div class="col-sm-6 text-center">
      <img src="figures/ada.jpg" class="hero-img" alt="Ada Lovelace"/><br>
      <strong>Ada Lovelace</strong>
    </div>


    <div class="col-sm-6 text-center">
      <h1 key="SOL_ADA_H1"></h1>
      <p  key="SOL_ADA_par_1"></p>

      <img src="figures/ada1.png" class="img-responsive center-block" class="col-sm-8" /><br>
      <img src="figures/ada2.png" class="img-responsive center-block" class="col-sm-8"/><br>

    </div>
  </div>

</div>
