<div class="container">
  <!--
    We maken een rij aan om onze elementen in te steken
    een rij bestaat altijd uit 12 kolommen

        foto1    foto2     Uitleg over coderdojo(b)xl
    |   <***>    <***>             <******>
  -->
  <div class="row">
    <!--
      Foto van turing we maken deze 3 kolommen lang en zorgen ervoor dat de uitleg gecentreerd wordt.
      "col-sm-3" sm = stack mobile,  3 kolommen lang 
    -->
    <div class="col-sm-3 text-center">
      <img src="figures/turing.jpg" class="hero-img" alt="Turing"/><br>
      <strong>Alan Turing</strong>
    </div>

    <!--
      Foto van Grace we maken deze 3 kolommen lang en zorgen ervoor dat de uitleg gecentreerd wordt.
     -->
    <div class="col-sm-3 text-center">
      <img src="figures/hopper.jpg" alt="Grace Hopper" class="hero-img"/><br>
      <strong>Grace Hopper</strong>
    </div>

    <!--
         Uitleg over CoderDojo(B)xl
         Waar is de tekst zelf naartoe !?
         Omdat de website 3 talen ondersteund
    -->
    <div class="col-sm-6 text-center">
        <h1 key="CTA_title_1"></h1>
        <p  key="CTA_par_1"></p>
        <h1 key="CTA_title_2"></h1>
        <p  key="CTA_par_2"></p>
    </div>
  </div>

</div>
