<div class="container">
  <div class="row">

    <!-- Turing picture -->
    <div class="col-sm-3 text-center">
      <img src="figures/turing.jpg" alt="Turing"/>
      <strong>Alan Turing</strong>
    </div>

    <!-- Grace picture -->
    <div class="col-sm-3 text-center">
      <img src="figures/hopper.jpg" alt="Grace Hopper"/><br>
      <strong>Grace Hopper</strong>
    </div>

    <!-- Second halve of the screen -->
    <div class="col-sm-6 text-center">
        <h1 key="CTA_title_1"></h1>
        <p  key="CTA_par_1"></p>
        <h1 key="CTA_title_2"></h1>
        <p  key="CTA_par_2"></p>
    </div>
  </div>
</div>
