<div class="container">
  <!--
    We maken een rij aan om onze elementen in te steken
    een rij bestaat altijd uit 12 kolommen

        foto1    foto2     Uitleg over coderdojo(b)xl
    |   <***>    <***>             <******>
  -->
  <div class="row">
    <!--
      Foto van turing we maken deze 3 kolommen lang en zorgen ervoor dat de uitleg gecentreerd wordt.
      "col-sm-3" sm = stack mobile,  3 kolommen lang
    -->
    <div class="col-sm-6 text-center">
      <img src="figures/douglas.jpg" class="hero-img" alt="Douglas Engelbart"/><br>
      <strong>Douglas Engelbart</strong>
    </div>



    <!--
         Uitleg over CoderDojo(B)xl
         Waar is de tekst zelf naartoe !?
         Omdat de website 3 talen ondersteund
    -->
    <div class="col-sm-6 text-center">
      <h1 key="SOL_DOUG_H1"></h1>
      <p  key="SOL_DOUG_par_1"></p>
      <iframe  class="col-sm-12" height="315" frameborder="0" wmode="Opaque" allowfullscreen="" src="https://www.youtube.com/embed/Nige6wuutG0?version=3&fs=1&;hl=nl&amp;cc_lang_pref=nl&amp;cc_load_policy=1&amp;rel=0&amp;hd=1">

    </div>
  </div>

</div>
