<div class="container">
  <div class="row footer-credit">
    <div class="col-md-6 col-sm-6">
      <li><a href="https://github.com/chscholl/CoderDojo-B-XL-website" target="_blank"><i class="fa fa-github"></i>
        Source Code !
      </a></li>
    </div>
    <div class="col-md-6 col-sm-6">
      <ul class="footer-menu">
        <li><a href="https://www.coderdojobelgium.be/" target="_blank">CoderDojo</a></li>
        <li><a href="https://soft.vub.ac.be" target="_blank">Software Languages Lab</a></li>
        <li><a href="#" onclick="editPage();">Edit</a></li>
      </ul>
    </div>
  </div>
</div>
