<div class="container">
    <div class="section-header">
        <h2 key="HWPACKET_title" class="section-title text-center wow fadeInDown"></h2>
        <div class="row">
            <div class="col-sm-6 text-center">
                <img src="images/activities/hwp.png" class="where-img"/>
            </div>

            <div class="col-sm-6 text-center">
                <p key="HWPACKET_p1" class="text-center wow fadeInDown"></p>
                <br>
                <div class="text-center inline-p-text">
                    <p key="HWPACKET_p2"></p> <a href="http://www.schaarbeek.bibliotheek.be"><p>BIB Schaarbeek</p></a>
                </div>
                <br>
                <address class="inline-p-text">
                    <p key="HWPACKET_p3" class="text-center"></p> <a href="mailto:cwzondergrenzen@soft.vub.ac.be">cwzondergrenzen@soft.vub.ac.be</a>.<br>
                </address>

                <address class="text-center inline-p-text">
                    <p key="HWPACKET_p4"></p> <a href="mailto:cwzondergrenzen@soft.vub.ac.be">cwzondergrenzen@soft.vub.ac.be</a>.
                   <b><p key="HWPACKET_p5" class="text-center"></p></b>  <br>
                </address>
            </div>

        </div>
    </div>
</div>


