<div class="container">
    <div class="section-header">
        <h2 key="INFO_title" class="section-title text-center wow fadeInDown">Meer info</h2>
        <p key="INFO_INTRO" class='text-center'></p>
        <p key="INFO_COORD" class='text-center'></p>
        <ul class="section_coord">
            <li>Elisa Gonzalez Boix (Vrije Universiteit Brussel, egonzale AT vub.ac.be)</li>
            <li>Christophe Scholliers (CoderDojo Schaarbeek, 1030 AT coderdojobelgium.be)</li>
        </ul>
    </div>

    <div class="row">
        <div class="col-sm-6 ">
            <h3 class="column-title">CoderDojo</h3>
            <p><img src="images/partners/cdj-be-logo2.png" alt="Logo CoderDojo"></p>
            <p key="INFO_cdj_p"></p>
            <div class="inline-p-text"><p key="INFO_cdj_p2"></p>
                <a href="http://www.coderdojobelgium.be" target="_blank">http://coderdojobelgium.be</a>
            </div>
        </div>

        <div class="col-sm-6 ">
            <h3 class="column-title">Software Languages Lab</h3>
            <p><img src="images/partners/soft-logo.png" alt="Logo Softlab"></p>
            <p key="INFO_soft_p"></p>
            <div class="inline-p-text"><p key="INFO_soft_p2"></p>
                <a href="http://soft.vub.ac.be/" target="_blank">http://soft.vub.ac.be/</a>
            </div>
        </div>
    </div>
</div>
