<div class="container">
  <div class="section-header">
    <h2 key="INFO_title" class="section-title text-center wow fadeInDown">Meer info</h2>
  </div>

  <div class="row">
    <div class="col-sm-6 ">
      <h3 class="column-title">CoderDojo</h3>
      <p><img src="images/cdj-be-logo.png" alt="Logo CoderDojo"></p>
      <p key="INFO_cdj_p"> </p>
      <p key="INFO_cdj_p2"></p>
      <a href="http://www.coderdojobelgium.be" target="_blank">coderdojobelgium.be</a>
    </div>

    <div class="col-sm-6 ">
      <h3 class="column-title">Software Languages Lab</h3>
      <p><img src="images/soft-logo.png" alt="Logo Softlab"></p>
      <p key="INFO_soft_p"></p>
      <p key="INFO_soft_p2"></p>
      <a href="http://cwzondergrenzen.be" target="_blank">cwzondergrenzen.be</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12" lang="nl">
      <h3 class="column-title">Faqs</h3>
      <div id="faq" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      </div>
    </div>

  </div>
</div>
