<div class="container">
    <div class="section-header">
        <h2 key="POSTERS_title" class="section-title text-center wow fadeInDown"></h2>
        <div class="row text-center">
            <div class="col-sm-3 text-center">
                <div class="row"> <h2>Alan Turing</h2> </div>
                <div class="row"><a href="#posters" ><img src="images/heroes/alan.png" class="where-img"/></a></div>
                <div class="row links"> <a href="docs/posters/AlanTuring.pdf" target="_blank"> <p>NL | </p></a> <a href="docs/posters/AlanTuring-fr.pdf" target="_blank"><p>FR |</p></a> <a href="docs/posters/AlanTuring-en.pdf" target="_blank" ><p>EN</p></a></div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="row"> <h2 >Ada Lovelace</h2> </div>
                <div class="row"><a href="#posters" ><img src="images/heroes/ada.png" class="where-img"/></a></div>
                <div class="row links"> <a href="docs/posters/AdaLovelace.pdf" target="_blank"> <p>NL | </p></a> <a href="docs/posters/AdaLovelace-fr.pdf" target="_blank"><p>FR |</p></a> <a href="docs/posters/AdaLovelace-en.pdf" target="_blank" ><p>EN</p></a></div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="row"> <h2>Edsger Dijkstra</h2> </div>
                <div class="row"><a href="#posters" ><img src="images/heroes/dijkstra.png" class="where-img"/></a></div>
                <div class="row links"> <a href="docs/posters/EdsgerDijkstra.pdf" target="_blank"> <p>NL | </p></a> <a href="docs/posters/EdsgerDijkstra-fr.pdf" target="_blank"><p>FR |</p></a> <a href="docs/posters/EdsgerDijkstra-en.pdf" target="_blank" ><p>EN</p></a></div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="row"> <h2 >Douglas Engelbart</h2> </div>
                <div class="row"><a href="#posters" ><img src="images/heroes/douglas.png" class="where-img"/></a></div>
                <div class="row links"> <a href="docs/docs/posters/DouglasEngelbart.pdf" target="_blank"> <p>NL | </p></a><a href="docs/posters/DouglasEngelbart-fr.pdf" target="_blank"><p>FR |</p></a> <a href="docs/posters/DouglasEngelbart-fr.pdf" target="_blank" ><p>EN</p></a></div>
            </div>


        </div>
        <div class="row text-center">
            <div class="col-sm-3 text-center">
                <div class="row"> <h2 >Grace Hopper</h2> </div>
                <div class="row"><a href="#posters" ><img src="images/heroes/grace.png" class="where-img"/></a></div>
                <div class="row links"> <a href="docs/posters/GraceHopper.pdf" target="_blank"> <p>NL | </p></a><a href="docs/posters/GraceHopper-fr.pdf" target="_blank"><p>FR |</p></a> <a href="docs/posters/GraceHopper-en.pdf" target="_blank" ><p>EN</p></a></div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="row"> <h2 >John Von Neumann</h2> </div>
                <div class="row"><a href="#posters" ><img src="images/heroes/neumann.png" class="where-img"/></a></div>
                <div class="row links"> <a href="docs/posters/JohnVonNeumann.pdf" target="_blank"> <p>NL | </p></a><a href="docs/posters/JohnVonNeumann-fr.pdf" target="_blank"><p>FR |</p></a> <a href="docs/posters/JohnVonNeumann-en.pdf" target="_blank" ><p>EN</p></a></div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="row"> <h2>Robert Cailliau</h2> </div>
                <div class="row"><a href="#posters" ><img src="images/heroes/robert.png" class="where-img"/></a></div>
                <div class="row links"> <a href="docs/posters/RobertCailliau.pdf" target="_blank"> <p>NL | </p></a><a href="docs/posters/RobertCailliau-fr.pdf" target="_blank"><p>FR |</p></a> <a href="docs/posters/RobertCailliau-en.pdf" target="_blank" ><p>EN</p></a></div>
            </div>
        </div>



    </div>
</div>
