<div class="container">

  <div class="section-header" lang="nl">
    <h2 key="REG_title" class="section-title text-center wow fadeInDown"></h2>
    <p  key="REG_p"     class='text-center'></p>
    <p  key="REG_topics"     class='text-center'></p>
    <div class="row">

      <div class="col-sm-4 text-center">
        <div class="row"> <h2 key="REG_topic_r"></h2> </div>
        <div class="row"> <img src="figures/robotics-topic.png" alt="Robotics" class="where-img"/><br> </div>
      </div>

      <div class="col-sm-4 text-center">
        <div class="row">   <h2 key="REG_topic_w"></h2> </div> 
        <div class="row">   <img src="figures/web-topic.png" alt="Web" class="where-img"/><br> </div>
      </div>

      <div class="col-sm-4 text-center">
        <div class="row"> <h2 key="REG_topic_m"></h2> </div>
        <div class="row"> <img src="figures/mobile-topic.png" alt="Mobile" class="where-img"/><br> </div>
      </div>

    </div>
    <p class='text-center'><a key="B_register" class="btn btn-primary btn-lg" href="http://tinyurl.com/mba48l3" target="_blank">Register now!</a></p>
    
  </div>

</div>
