<div class="container">

  <div class="section-header">
    <h2 key="THX_title" class="section-title text-center wow fadeInDown">Dankjewel</h2>
    <p  key="THX_p" class="text-center wow fadeInDown"></p>
  </div>

  <div class="row">
    <div  class="col-sm-6 wow fadeInRight">
      <h3 class="column-title"><i class="fa fa-thumbs-o-up"></i></h3>
      <div class="row">
        <div  class="col-sm-8 wow fadeInRight">
          <p  key="THX_muntpunt"></p> <br>
        <a  href="https://www.muntpunt.be/" target="_blank"> <img class="sponsor-img" src="figures/muntpunt.jpg" /></a>
        </div>
      </div>

    </div>

    <div class="col-sm-6 wow fadeInRight">
      <h3 class="column-title"><i class="fa fa-eur"></i></h3>
      <p key="THX_fin"></p>

      <div class="row">
        <div  class="col-sm-4 wow fadeInRight">
          <a href="https://telenet.be" target="_blank">
            <img src="images/partners2017/telenet.png" class="sponsor-img" /></a>
        </div>
        <div  class="col-sm-4 wow fadeInRight">
          <a href="http://www.innoviris.be/" class="sponsor-img">
            <img class="sponsor-img" src="figures/innoviris.png" /></a>
        </div>
        <div  class="col-sm-4 wow fadeInRight">
          <a href="http://www.innoviris.be/nl/promotie/science-mundi" >
            <img class="sponsor-img" src="figures/sm.png" /></a>
        </div>
      </div>
    </div>
  </div>

</div>
