<div class="container">

  <div class="section-header" lang="nl">
    <h2 class="section-title text-center wow fadeInDown">Dankjewel</h2>
    <p class="text-center wow fadeInDown">
      CoderDojo (B)XL wordt georganiseerd door CoderDojo Belgium vzw en VUB in het kader van het <strong>Computerwetenschappen zonder grenzen project</strong>.
      Het doet ons enorm veel plezier te kunnen rekenen op een aantal sterke partners!
    </p>
  </div>

  <div class="row">
    <div class="col-sm-6 wow fadeInRight" lang="nl">
      <h3 class="column-title"><i class="fa fa-thumbs-o-up"></i></h3>
      <p>
        Muntpunt zorgt voor de logistieke steun.
        </p>
      <p class="text-center">
        <a href="http://lier.bibliotheek.be/" target="_blank"><img class="sponsor" src="images/partners2017/bib.png" /></a>
      </p>
    </div>

    <div class="col-sm-6 wow fadeInRight" lang="nl">
      <h3 class="column-title"><i class="fa fa-eur"></i></h3>
      <p>
        Dankzij de financiële steun van deze sponsors wordt het extra leuk voor deelnemers en bezoekers!
      </p>
      <p class="text-center">
        <a href="https://telenet.be" target="_blank"><img class="sponsor" src="images/partners2017/telenet.png" /></a>
        <a href="http://www.visitlier.be/" target="_blank"><img class="sponsor" src="images/partners2017/lier.png" /></a>
      </p>
    </div>
  </div>
</div>
