<div class="container">

    <div class="section-header">
        <h2 key="THX_title" class="section-title text-center wow fadeInDown">Dankjewel</h2>
        <p key="THX_p" class="text-center wow fadeInDown"></p>
    </div>

    <p key="THX_p2" class="column-title"></p>
    <div class="row">
        <div class="col-sm-6 wow fadeInRight">
            <div class="row">
                <div class="col-sm-8 wow fadeInRight">
                    <ul>
                        <li>Lara Menes (VUB)</li>
                        <li>Humberto R. Avila (VUB)</li>
                        <li>Florian Myter (VUB)</li>
                        <li>Quentin Stievenart (VUB)</li>
                        <li>Nils Van Geele (VUB)</li>
                        <li>Tim Molderez (VUB)</li>
                        <li>Carmen Torres Lopez (VUB)</li>
                        <li>Maarten VanDerCammen(VUB)</li>
                        <li>Angel Luis Scull Pupo (VUB)</li>
                        <li>Viviane Jonckers (VUB)</li>
                        <li>Brigitte Beyens (VUB)</li>
                        <li>Jonathan Riggio (VUB)</li>
                        <li>Jens Nicolay (VUB)</li>
                        <li>Dirk Van Deun (VUB)</li>
                        <li>Lydie Seghers (VUB)</li>
                        <li>Bart Dupon (CDJ Schaarbeek)</li>
                        <li>Najat Amerrouss (CDJ Schaarbeek)</li>
                        <li>Jeroen Van Soest (CDJ Schaarbeek)</li>
                        <li>Alessandra Crevatin Dose (CDJ Schaarbeek)</li>
                        <li>Frederik Vincx (CDJ Schaarbeek)</li>
                        <li>Cecilia Szenes (CDJ Etterbeek)</li>
                        <li>Bettina Steylaerts (CDJ vzw)</li>


                    </ul>
                </div>
            </div>

        </div>

        <div class="col-sm-6 wow fadeInRight">
            <ul>
                <li>Johan Kerckhoven (CDJ vzw)</li>
                <li>Sarah Verhasselt (CDJ vzw)</li>
                <li>Pascale Fouvry (CDJ Vilvoorde)</li>
                <li>Rick Meynen (CDJ 1082)</li>
                <li>Pavlo Fasenko (CDJ Waterloo)</li>
                <li>Bert Carels (CDJ Zemst)</li>
                <li>Thomas Geerdens ( CDJ Dendermonde)</li>
                <li>Virginia Gomez (VITO)</li>
                <li>Yann Buydens (Meetup Meteor)</li>
                <li>Alex Petit</li>
                <li>Bernadette Mergaerts</li>
                <li>Lucie Vanhove</li>
                <li>Zyaad Jaunnoo (CDJ Etterbeek)</li>
                <li>Giordano Dichter (CDJ Etterbeek)</li>
                <li>Wim Vranken (CDJ Muntpunt)</li>
                <li>Ronnie Raeymaekers (CDJ Muntpunt)</li>
                <li>Wouter Van Rossem (CDJ Muntpunt)</li>
            </ul>
            <div class="row">
                <div class="col-sm-3 wow fadeInRight">
                    <a href="http://www.vub.ac.be" target="_blank">
                        <img src="images/partners/vub-logo.png" class="sponsor-img"/></a>
                </div>
                <div class="col-sm-3 wow fadeInRight">
                    <a href="https://www.coderdojobelgium.be/" target="_blank">
                        <img class="sponsor-img" src="images/partners/cdj-be-logo.png"/></a>
                </div>
                <div class="col-sm-3 wow fadeInRight">
                    <a href="http://www.innoviris.be/" target="_blank">
                        <img class="sponsor-img" src="images/partners/innoviris.png"/></a>
                </div>
                <div class="col-sm-3 wow fadeInRight">
                    <a href="http://www.innoviris.be/nl/promotie/science-mundi" target="_blank">
                        <img class="sponsor-img" src="images/partners/sm.png"/></a>
                </div>
            </div>
        </div>
    </div>

</div>

