<div class="container">

  <div class="section-header">
    <h2 class="section-title text-center wow fadeInDown" lang="nl">Wat?</h2>
    <h2 class="section-title text-center wow fadeInDown" lang="fr">Quoi?</h2>
    <h2 class="section-title text-center wow fadeInDown" lang="en">What?</h2>

    <!-- Nederlands -->
    <div lang="nl">

    <p class="text-center wow fadeInDown">
      Tijdens CoderDojo (B)XL zal je deelnemen aan verschillende activiteiten.
    </p>
    <p class="text-center">
      Volgens een rotatiesysteem zorgen we ervoor dat jullie van elke workshop kunnen proeven.
    </p>

    <div class="row">

       <div class="col-sm-4  robot text-center">
        <h2>  Unplugged programmeren </h2>
        <p> Aan de eerste reeks workshops komen er geen computers aan te pas.
          Je ontdekt concepten en principes van programmeren door een aantal actieve toffe spelletjes.
        </p>
      </div>

       <div class="col-sm-4  text-center">
        <h2>Coding sessies</h2>
        <p>  In deze reeks kan je toepassen wat je tijdens de unplugged sessies hebt geleerd!
            In de coding workshops ga je aan de slag met onder andere computers, smartphones en robots.
        </p>
      </div>

      <div class="col-sm-4   text-center">
        <h2> Toonmoment </h2>
        <p>Toon je superpowers en presenteer – als je dat wil – aan je collega helden en heldinnen wat jij tijdens CoderDojo (B)XL hebt gemaakt!
        </p>
      </div>

    </div><!-- /.row -->

    <div class="text-center">
      <strong >           Het is niet nodig om al ooit geprogrammeerd te hebben: iedereen kan deelnemen! </strong>
    </div>
   </div>

    <!-- Frans -->
    <p class="text-center wow fadeInDown" lang="fr">
      Lors de Coolest Projects, nous présenterons les projets construits par les participants. Crée donc toi-même :
    </p>

    <!-- Engels -->
    <p class="text-center wow fadeInDown" lang="en">
      Coolest Projects is all about showcasing the technology projects made by the young people. So run to your garage and make
      stuff:
    </p>

  </div>


  <h1 class="section-heading text-center">Kies jou thema:</h1>

    <div class="row">

      <div class="col-sm-4  robot text-center">
        <h2>Robotics</h2>
        <img class="img-responsive" src="figures/robot.jpg" alt="Generic placeholder image">
        <p>Altijd al willen weten hoe een robot werkt ? </p>
        <p>
      </div><!-- /.col-lg-4 -->

      <div class="col-sm-4    web text-center">
        <h2>Web</h2>
        <img class="img-responsive img-circle" src="figures/web.png" alt="Generic placeholder image">
        <p>Wil je weten hoe je zelf een website kan maken ?</p>
      </div><!-- /.col-lg-4 -->

      <div class="col-sm-4  mobile text-center">
        <h2>Mobile</h2>
        <img class="img-responsive img-circle"  src="figures/mobile.jpg"  alt="Generic placeholder image">
        <p>Een tof idee voor een mobiele app ? </p>
      </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->

</div>
