<div class="container">

  <div class="section-header">
    <h2 key="WHAT_title"  class="section-title text-center wow fadeInDown"></h2>
    <p  key="What_intro"  class="text-center wow fadeInDown"></p>

    <div class="row">

      <div class="col-sm-4 text-center">
        <div class="row"> <h2 key="WHAT_poster"></h2> </div>
        <div class="row"><a href="#posters" ><img src="images/activities/posters.png" class="where-img"/></a></div>
        <div class="row"><p key="WHAT_poster_p"></p> <a href="#posters" ><p key="WHAT_more_info"></p></a></div>
      </div>

      <div class="col-sm-4 text-center">
        <div class="row"> <h2 key="WHAT_hwp"></h2> </div>
        <div class="row"><a href="#hw-packet" ><img src="images/activities/hwp.png" class="where-img"/></a></div>
        <div class="row"><p key="WHAT_hwp_p"></p> <a href="#hw-packet" ><p key="WHAT_more_info"></p></a></div>
      </div>

      <div class="col-sm-4 text-center">
        <div class="row"> <h2 key="WHAT_workshops"></h2> </div>
        <div class="row"><a href="#workshops" ><img src="images/activities/workshops.png" class="where-img"/></a></div>
        <div class="row"><p key="WHAT_workshops_p"></p> <a href="#workshops" ><p key="WHAT_more_info"></p></a></div>
      </div>
    </div>
  </div>

</div>
