<div class="container">

  <div class="section-header">
    <h2 key="WHAT_title"  class="section-title text-center wow fadeInDown"></h2>
    <p  key="What_intro"  class="text-center wow fadeInDown"></p>
    <p  key="What_rotate" class="text-center"></p>

    <div class="row">

      <div class="col-sm-4 text-center">
        <div class="row"> <h2 key="WHAT_unpl"></h2> </div>
        <div class="row"> <img src="figures/muntpunt_building.jpg" alt="Munt" class="where-img"/><br> </div>
        <div class="row"> <p key="What_unpl_p"></p> </div>
      </div>

      <div class="col-sm-4 text-center">
        <div class="row">   <h2 key="What_code"></h2> </div>
        <div class="row">   <img src="figures/coding.jpg" alt="Munt" class="where-img"/><br> </div>
        <div class="row">   <p key="What_code_p"></p> </div>
      </div>

      <div class="col-sm-4 text-center">
        <div class="row"> <h2 key="What_show"></h2> </div>
        <div class="row"> <img src="figures/muntpunt_building.jpg" alt="Munt" class="where-img"/><br> </div>
        <div class="row"> <p key="WHAT_show_p"></p> </div>
      </div>

    </div>

    <div class="row">
      <div class="text-center">
        <h1 key="WHAT_end"></h1>
      </div>
    </div>
   </div>


  <!-- <h1 class="section-heading text-center">Kies jou thema:</h1>

    <div class="row">

      <div class="col-sm-4  robot text-center">
        <h2>Robotics</h2>
        <img class="img-responsive" src="figures/robot.jpg" alt="Generic placeholder image">
        <p>Altijd al willen weten hoe een robot werkt ? </p>
        <p>
      </div>

      <div class="col-sm-4    web text-center">
        <h2>Web</h2>
        <img class="img-responsive img-circle" src="figures/web.png" alt="Generic placeholder image">
        <p>Wil je weten hoe je zelf een website kan maken ?</p>
      </div>

      <div class="col-sm-4  mobile text-center">
        <h2>Mobile</h2>
        <img class="img-responsive img-circle"  src="figures/mobile.jpg"  alt="Generic placeholder image">
        <p>Een tof idee voor een mobiele app ? </p>
      </div>

    </div>
  -->

</div>
