<div class="container">


  <div class="section-header">
    <h2 key="WHERE_title" class="section-title text-center wow fadeInDown"></h2>


    <div class="row">

    <div class="col-sm-6 text-center">

      <img src="figures/muntpunt_building.jpg" alt="Munt" class="where-img"/><br>

    </div>

    <div class="col-sm-6 text-center">


    <p class="text-center wow fadeInDown">
      <strong key="DATE"></strong>
      <br>
      <strong key="WHERE_when">     </strong>
      <p key="WHERE_red"  class="text-center">      </p>
      <p key="WHERE_blue" class="text-center">      </p>
      <p key="WHERE_show" class="text-center">      </p>
      <p class="text-center">
        <br><strong class="text-center" key="WHERE_munt"> </strong>
        <br><strong class="text-center" key="WHERE_addr"> </strong>
      <p>
    </p>
   </div>
 </div>

  </div>

</div>
