<div class="container" lang="nl">

  <div class="section-header" lang="nl">
    <h2 key="TRS_title" class="section-title text-center wow fadeInDown"> </h2>
  </div>

  <div class="row">
    <div class="col-sm-6 wow fadeInLeft">
      <div class="media service-box wow fadeInRight">
        <div class="pull-left">
          <i class="fa fa-train"></i>
        </div>
        <div class="media-body" lang="nl">
          <h4 key="TRS_mivb" class="media-heading"> </h4>
          <p key="TRS_mivb_op1"></p>
          <p key="TRS_mivb_op2"></p>
          <p key="TRS_mivb_op3"></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 wow fadeInLeft">
      <div class="media service-box wow fadeInRight">
        <div class="pull-left">
          <i class="fa fa-bus"></i>
        </div>
        <div class="media-body">
          <h4 key="TRS_lijn" class="media-heading"></h4>
          <p key="TRS_lijn_op1"> </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="media service-box wow fadeInRight">
        <div class="pull-left">
          <i class="fa fa-bicycle"></i>
        </div>
        <div class="media-body">
          <h4 key="TRS_bike" class="media-heading"></h4>
          <p key="TRS_bike_op1"></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="media service-box wow fadeInRight">
        <div class="pull-left">
          <i class="fa fa-car"></i>
        </div>

        <div class="media-body">
          <h4 key="TRS_car" class="media-heading"></h4>
          <p key="TRS_car_op1"></p>
        </div>
      </div>
    </div>

  </div>

</div>
