<div class="container" lang="nl">
  
  <div class="section-header" lang="nl">
    <h2 key="TRS_title" class="section-title text-center wow fadeInDown"> </h2>
  </div>

  <div class="row">

    <div class="col-sm-6 wow fadeInLeft">
      <div class="media service-box wow fadeInRight">
        <div class="pull-left">
          <i class="fa fa-bicycle"></i>
        </div>

        <div class="media-body" lang="nl">
          <h4 class="media-heading">Met de fiets is altijd het plezantst!</h4>
          <p>
            Stippel je route uit op <a href="http://www.fietsnet.be/routeplanner/default.aspx" target="_blank">www.fietsnet.be</a>.
            Cultureel centrum 'De Mol' ligt vlak bij fietsknooppunt 05.
          </p>
        </div>

      </div>



      <div class="media service-box wow fadeInRight">
        <div class="pull-left">
          <i class="fa fa-bus"></i>
        </div>
        <div class="media-body" lang="nl">
          <h4 class="media-heading">Bus</h4>
          <p>
            Je favoriete bus vind je op <a href="https://www.delijn.be/nl/" target="_blank">www.delijn.be</a>.
            <br>Bushalte 'De Mol' (lijnen 1 / 2 / 90 / 154 / 556) is vlakbij.
            <br>Bushaltes 'Markt (Grote Markt)' en 'Veemarkt' zijn op 10 minuutjes wandelafstand.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">

      <div class="media service-box wow fadeInRight">
        <div class="pull-left">
          <i class="fa fa-train"></i>
        </div>
        <div class="media-body" lang="nl">
          <h4 class="media-heading">Trein</h4>
          <p>
            Lier heeft zeer goede <a href="http://www.belgianrail.be/nl" target="_blank"> treinverbindingen</a>. Vanaf het station
            wandel je op een dikke 20 minuten naar het cultureel centrum.
            <br>Zowel aan het station als aan cultureel centrum 'De Mol' zijn er <a href='http://www.blue-bike.be' target='_blank'>Blue-bike uitleenpunten</a>!
          </p>
        </div>
      </div>

      <div class="media service-box wow fadeInRight">
        <div class="pull-left">
          <i class="fa fa-car"></i>
        </div>
        <div class="media-body" lang="nl">
          <h4 class="media-heading">Met de auto?</h4>

          <p>
            Parkeerinfo vind je op <a href="http://www.lier.be/PRAKTISCHE_INFO/Waar_parkeer_ik_mijn_auto_in_Lier/Parkeren_in_Lier"
              target="_blank">www.lier.be</a>. Aan cultureel centrum 'De Mol' is er een grote, gratis parking.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
