<div class="container">
  <div class="section-header">
    <h2 key="WHERE_title" class="section-title text-center wow fadeInDown"></h2>
    <p class="text-center wow fadeInDown">
      <strong key="DATE"></strong>
      <br>
      <strong key="WHERE_when">     </strong>
      <p key="WHERE_red"  class="text-center">      </p>
      <p key="WHERE_blue" class="text-center">      </p>
      <p key="WHERE_show" class="text-center">      </p>
      <p class="text-center">
        <br><strong class="text-center" key="WHERE_munt"> </strong>
        <br><strong class="text-center" key="WHERE_addr"> </strong>
      <p>
    </p>
   </div>
</div>
