<div class="container">
    <div class="section-header">
        <h2 key="WORKSHOPS_title" class="section-title text-center wow fadeInDown"></h2>
        <div class="row">
            <div class="col-sm-6 text-center">
                <img src="images/activities/workshops-mosaic.png" class="mossiac-img"/><br>
            </div>

            <div class="col-sm-6 text-center">
                <p class="text-left wow fadeInDown">
                    <strong key="WORKSHOPS_p1"></strong>
                    <br><br>
                </p>
                <p key="WORKSHOPS_w1" class="text-left"></p>
                <p key="WORKSHOPS_w2" class="text-left"></p>
                <p key="WORKSHOPS_w3" class="text-left"></p>
                <div class="inline-p-text text-left"> <p key="WORKSHOPS_w4"></p> <a href="http://coderdojo-bxl.be">CoderDojo B(XL)</a> <p key="WORKSHOPS_w5"></p> </div>

            </div>

        </div>
    </div>
</div>

